* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.containers {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    top:20%;
    left:10%;
}

.image {
    width:30px;
    height:30px;
}

.card-content {
    text-decoration:none;
    height:140px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:250px;
    border-radius:4px;
}

.card-content h2, h3 {
    color:aliceblue;
    font-size:30px;
}

.card-content.card1 {
    background-color:rgb(167, 93, 236);
}

.card-content.card2 {
    background-color:rgb(32, 153, 32);
}
